.formPage {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  max-width: 900px;
  background-color: var(--bg-color-secondary);

  margin: 24px;

  padding-top: 65px;
  padding-bottom: 25px;
  padding-left: 110px;
  padding-right: 110px;

  border-radius: 12px;

  @media (max-width: 950px) {
    margin: initial;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
