.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  max-width: 50%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

@media (max-width: 660px) {
  .wrapper {
    max-width: initial;
  }
}
